@model List<WebTraSua_197.Models.EF.PhanHoi>
@foreach (var it in Model)
{
    <div class="news">

        <p>@it.NoiDung </p>
        <div class="foot">
            <label>@it.TenNguoiPhanHoi</label>
            <ul class="eye ">
              
            </ul>
            <div class="clearfix"> </div>
        </div>
    </div>
}


