@model WebTraSua_197.Models.EF.Duong

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Duong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Duong1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duong1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDuong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
