@model List<WebTraSua_197.Models.EF.SanPham>
<div class="product-top">
    @foreach (var it in Model)
    {
        var url = "/chi-tiet-san-pham/" + it.MetaTitle + "-" + it.MaSanPham;
        <div class="col-md-4 grid-product-in">
            <div class=" product-grid">
                <a href="@url"><img class="img-responsive " src="/Content/images/@it.LinkAnhSP" alt=""></a>
                <div class="shoe-in">
                    <h6><a href="">@it.TenSanPham</a></h6>
                    <label>@it.DonGia VNĐ</label>
                    <a href="@url" class="store">CHI TIẾT</a>
                </div>
                <b class="plus-on">+</b>
            </div>

        </div>
    }

    <div class="clearfix"> </div>
</div>


